services:
    php:
        container_name: request-php
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "8000:8000"
        volumes:
            - ./:/var/www/html

networks:
    lion:
        driver: bridge
